<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tag form</title>
    </head>
    <body>
        <h1>Feedback form</h1>
        <form method="POST"  enctype="multipart/form-data" action="/form/">
            {% csrf_token %}
            {{ form }}
            <!--
            <label for="feedback-text">Feedback: </label>
            <input id="feedback-text" name="text" type="text" minlength="3" maxlength="10" required>
            <br>
            <label for="feedback-grade">Grade: </label>
            <input id="feedback-grade" name="grade" type="number" min="1" max="100" required>
            <br>
            <label for="feedback-image">Image: </label>
            <input id="feedback-image" name="image" type="file">
            <br>
                        -->
            <input id="feedback-submit" name="submit" type="submit">

        </form>

        {{ text }}
        {{ grade }}
        {{ content }}

    </body>
</html>